- flash.each do |name, messages|
  .alert(class="alert-#{name}")
    %a.close(href='#'){data: {dismiss: 'alert'}, aria: {label: 'close'}} &times;

    - if messages.is_a?(Array)
      - messages.each do |message|
        %span= message
    - else
      %span= messages
